 <nav class="navbar navbar-expand-md  fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Javaslat GTA V Powered by ROR</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Főoldal <span class="sr-only">(current)</span></a>
            </li>
              <% unless current_user.present? %>
                <li class="nav-item">
                  <%= link_to "Belépés", login_path, class: "nav-link"  %>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" href="signup">Regisztrálás</a>
                </li>
                <% end %>
                <% if current_user.present? %>

                <li class="nav-item">
                    <%= link_to "Képek", images_path, class: "nav-link" %>
                </li>
                <li class="nav-item active">
                  <%= link_to "Apocas", apocas_path, class: "nav-link"  %>
                </li>
               
                <li class="nav-item active">
                  <%= link_to "Users", users_path, class: "nav-link"  %>
                </li>
                <li class="nav-item active">
                  <%= link_to "Comments", comments_path, class: "nav-link"  %>
                </li>
                
               
                <li class="nav-item">
                    <%= link_to "Kilépés", "/logout", class: "nav-link" %>
                </li>
                <% end %>

            
           
          </ul>
          
        </div>
      </nav>