<!DOCTYPE html>
<html>
  <head>
    <title>Stocky</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/7abb47e8ad.js" crossorigin="anonymous"></script>
  </head>

  <body class="pt-4">
<div id="flash">
  <% if notice.present? %>
    <%= render partial: "shared/notice" %>
  <% end %>
</div>


  <% if current_user.present? %>
    Üdvözöllek: <%= current_user.username.capitalize() %> <br>
  <% else %>
 
  <% end %>
  <%= render 'shared/menu' %>
   <div class="container-fluid">
  <%= yield %>
  
    </div>
  </body>
</html>
