<!DOCTYPE html>
<html>
  <head>
    <title>Stocky</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="pt-4">

    <% flash.each do |type, msg| %>
    
    <% if type == "notice"%>
      <div class="alert alert-info">
    <% else %>
      <div class="alert alert-danger">
    <% end %>
        <%= msg %>
    </div>
    <% end %>
  <% if current_user.present? %>
    Üdvözöllek: <%= current_user.username %> <br>
  <% else %>
 
  <% end %>
  <%= render 'shared/menu' %>
   <div class="container-fluid">
  <%= yield %>
  
    </div>
  </body>
</html>
